BACKEND_BASE_URL=http://localhost:8000/api
FRONTEND_BASE_URL=http://localhost:80
VENDEDOR_EMAIL=
VENDEDOR_PASSWORD=
VENDEDOR_LINE_ID=
VENDEDOR_CATEGORY_ID=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_LINE_ID=
ADMIN_CATEGORY_ID=